* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(120, 57, 179);
}

h2 {
  color: white;
  font-size: 3rem;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 4rem;
}
.cadastro {
  width: 80vw;
  height: 70vh;
  padding: 2rem;
  margin: 0 auto;
}

input {
  margin: 0 auto;
  display: flex;
  padding: 0.5rem;
  margin-top: 12px;
  width: 70%;
  border-radius: 25px;
  border: 0px;
  padding-left: 22px;
  padding-right: 22px;
}

.button {
  text-align: center;
  width: 20%;
  justify-content: center;
  padding: 12px;
  margin-top: 2rem;
  background-color: yellow;
}

form .button {
  align-items: end;
}
